<div class="fix footer_top_area">
    <div class="fix footer_top wrap">
        <div class="fix footer_top_container">
            <div class="fix single_footer floatleft">
                <h2>From Twitter</h2>
                <p>Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id ultricies vehicula ut id elit. <br/><br/>Cum sociis natoque penatibus et magnis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis. </p>
                <br/><p>Cum sociis natoque penatibus et magnis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.</p>
            </div>
            <div class="fix single_footer floatleft">
                <h2>usefull links</h2>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">about us</a></li>
                    <li><a href="">privacy policy</a></li>
                    <li><a href="">contact us</a></li>
                </ul>
            </div>
            <div class="fix single_footer floatleft">
                <div class="popular_post fix">
                    <h2>Popular</h2>
                    <div class="fix single_popular">
                        <img src="{{ asset('images/popular.jpg') }}" class="floatleft"/>
                        <a href=""><h2>Vestibum Malesuada Etiam Magna</h2></a>
                        <p>12 Nov, 2012</p>
                    </div>
                    <div class="fix single_popular">
                        <img src="{{ asset('images/popular.jpg') }}" class="floatleft"/>
                        <a href=""><h2>Vestibum Malesuada Etiam Magna</h2></a>
                        <p>12 Nov, 2012</p>
                    </div>
                    <div class="fix single_popular">
                        <img src="{{ asset('images/popular.jpg') }}" class="floatleft"/>
                        <a href=""><h2>Vestibum Malesuada Etiam Magna</h2></a>
                        <p>12 Nov, 2012</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fix footer_area">
    <div class="wrap">
        <div class="fix copyright_text floatleft">
            <p>Designed By <a href="http://www.wpfreeware.com" rel="nofollow">WpFreeware</a></p>
        </div>
        <div class="fix social_area floatright">
            <ul>
                <li><a href="" class="feed"></a></li>
                <li><a href="" class="facebook"></a></li>
                <li><a href="" class="twitter"></a></li>
                <li><a href="" class="drible"></a></li>
                <li><a href="" class="flickr"></a></li>
                <li><a href="" class="pin"></a></li>
                <li><a href="" class="tumblr"></a></li>
            </ul>
        </div>
    </div>
</div>