<div class="fix header_area">
    <div class="fix wrap header">
        <div class="logo floatleft">
            <h1>Fresh Blog</h1>
        </div>
        <div class="manu floatright">
            <ul id="nav-top">
                <li><a href="index.html">Home</a></li>
                <li><a href="single.html">single</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="contact.html">contact</a></li>
            </ul>
        </div>
    </div>
</div>