<div class="fix sidebar floatright">
    <div class="fix single_sidebar">
        <div class="popular_post fix">
            <h2>Popular</h2>
            <div class="fix single_popular">
                <img src="{{ asset('images/popular.jpg') }}" class="floatleft"/>
                <h2>Vestibum Malesuada Etiam Magna</h2>
                <p>12 Nov, 2012</p>
            </div>
            <div class="fix single_popular">
                <img src="{{ asset('images/popular.jpg') }}" class="floatleft"/>
                <h2>Vestibum Malesuada Etiam Magna</h2>
                <p>12 Nov, 2012</p>
            </div>
            <div class="fix single_popular">
                <img src="{{ asset('images/popular.jpg') }}" class="floatleft"/>
                <h2>Vestibum Malesuada Etiam Magna</h2>
                <p>12 Nov, 2012</p>
            </div>
        </div>
    </div>
    <div class="fix single_sidebar">
        <h2>Search</h2>
        <input class="search" type="text" placeholder="Search and hit enter"/>
    </div>
    <div class="fix single_sidebar">
        <h2>A little about me</h2>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum. Sed posuere consectetur est at mant lobortis. Sed posuere consectetur est lobortis. Fusce  mauris condimentum.</p>
    </div>
    <div class="fix single_sidebar">
        <h2>Categories</h2>
        <a href="">photography(5)</a>
        <a href="">food(9)</a>
        <a href="">Salads(4)</a>
        <a href="">spicy(3)</a>
        <a href="">Wine(5)</a>
    </div>
</div>