<div class="fix top_add_bar">
    <div class="addbar_leaderborard"><img src="http://placehold.it/728x90"/></div>
</div>

<div class="manu_area">
    <div class="mainmenu menu-wrap wrap">
        <ul id="nav-bottom">
            <li><a href="">Categories</a></li>
            <li><a href="">Freebies</a></li>
            <li><a href="">Services</a>
                <ul>
                    <li><a href="">Single item</a></li>
                    <li><a href="">Single item</a></li>
                    <li><a href="">Single item</a></li>
                    <li><a href="">Single item</a></li>
                    <li><a href="">Single item</a></li>
                </ul>
            </li>
            <li><a href="">Gallery</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Privacy policy</a></li>
            <li><a href="">Contact us</a></li>
        </ul>
    </div>
</div>
