<div class="fix single_content floatleft">
    <img src="{{ asset('images/home_featured.jpg') }}" alt=""/>
    <div class="fix single_content_info">
        <h1>Ullamcorper Mollis Pellentesque</h1>
        <p class="author">By Admin In Photography,Wine,Food</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id ultricies .</p>
        <div class="fix post-meta">
            <p>26 Sep, 2012  |  24 Comments</p>
        </div>
    </div>
</div>